services:

  nginx:
    build:
      context: ./nginx
    image: nginx
    ports :
      - "443:443"
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress
    networks:
      - inception_network
  wordpress:
    build:
      context: ./wordpress
    image: wordpress
    expose:
      - "9000"
    env_file:
      - .env
    volumes:
      - wordpress:/var/www/html
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - inception_network
  mariadb:
    build:
      context: ./mariadb
    image: mariadb
    expose:
      - "3306"
    env_file:
      - .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: none
      device: /home/abalasub/data/wordpress
      o: bind
  mariadb:
    driver: local
    driver_opts:
      type: none
      device: /home/abalasub/data/mariadb
      o: bind
networks:
  inception_network: